<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mt-4 mb-4">Books Library</h1>
    <div>
      <button mat-raised-button class="mx-1" routerLink="/books/create">Add Book</button>
      <button class="mx-1 btn btn-outline-success rounded-pill insert_books_btn" (click)="insertbooks()">Quick Add
        Books</button>
    </div>
  </div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter(filterinput.value)" placeholder="Filter books" #filterinput>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="w-100">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let row"> {{ row.title }} </td>
      </ng-container>

      <!-- Author Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
        <td mat-cell *matCellDef="let row"> {{ row.author }} </td>
      </ng-container>

      <!-- Publication Year Column -->
      <ng-container matColumnDef="publication_year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Publication Year </th>
        <td mat-cell *matCellDef="let row"> {{ row.publication_year }} </td>
      </ng-container>

      <!-- Created At Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
        <td mat-cell *matCellDef="let row"> {{ row.created_at }} </td>
      </ng-container>

      <!-- Updated At Column -->
      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated At </th>
        <td mat-cell *matCellDef="let row"> {{ row.updated_at }} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openUpdateForm(row.id)">
            <mat-icon class="text-success">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteBook(row.id)">
            <mat-icon class="text-danger">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- No Data Message -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center py-4" colspan="7">No data matching the filter "{{ filterinput.value }}"</td>
      </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
  </div>
</div>