thead tr > th,
tbody tr > td {
  text-align: center !important;
}

th.mat-header-cell {
  text-align: center !important;
}

td.mat-cell {
  text-align: center !important;
}

.mat-elevation-z8 {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

mat-form-field {
  width: 100% !important;
}

.insert_books_btn:hover {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.custom_toast {
  background: linear-gradient(to right, #51a351, #00b09b) !important;
  border-radius: 10px !important;
}