body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.error-content {
  animation: fadeIn 1.7s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform:  rotate(0deg);
  }
  100% {
    opacity: 1;
    transform:  rotate(360deg);
  }
}

h1 {
  font-size: 8rem;
  font-weight: bold;
  color: #343a40;
  animation: textGlow 1.3s ease-in-out infinite alternate;
}

@keyframes textGlow {
  0% {
    text-shadow: 0 0 5px #ccc, 0 0 10px #ccc, 0 0 15px #ccc, 0 0 20px #ccc,
      0 0 25px #ccc, 0 0 30px #ccc, 0 0 35px #ccc;
    transform: scale(0.9);
  }
  100% {
    text-shadow: 0 0 5px #666, 0 0 10px #666, 0 0 20px #666, 0 0 30px #666,
      0 0 40px #666, 0 0 50px #666, 0 0 60px #666;
      transform: scale(1.2);
  }
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  animation: buttonHover 1s infinite alternate;
}

@keyframes buttonHover {
  0% {
    box-shadow: 0 0 5px #007bff;
  }
  100% {
    box-shadow: 0 0 20px #007bff;
  }
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}