<div class="container text-center">
  <div class="row align-items-center min-vh-100">
    <div class="col-12">
      <div class="error-content">
        <h1 class="display-1">404</h1>
        <p class="lead">Oops! The page you are looking for does not exist.</p>
        <a routerLink="/books" class="btn btn-primary">Goto Library</a>
      </div>
    </div>
  </div>
</div>