<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mt-4 mb-4">Update Book</h2>
        <button mat-raised-button routerLink="/books" class="text-bg-primary">Book List</button>
    </div>

    <form [formGroup]="bookForm" (ngSubmit)="updateBook()" class="border border-2 rounded-4 p-4 card shadow-lg mt-5">

      <div class="form-input mt-2">
        <label for="title" class="fs-5">Title:</label>
        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter Book Title" autocomplete="name" autofocus>
        <mat-error class="text-danger fw-semibold" *ngIf="title?.invalid && (title?.dirty || title?.touched)">
          <span class="pt-5" *ngIf="title?.errors?.['required']">* Title is required</span>
        </mat-error>
      </div>

      <div class="form-input mt-4">
        <label for="author" class="fs-5">Author:</label>
        <input type="text" class="form-control" id="author" formControlName="author" placeholder="Enter Book Author Name">
        <mat-error class="text-danger fw-semibold" *ngIf="author?.invalid && (author?.dirty || author?.touched)">
          <span class="pt-5" *ngIf="author?.errors?.['required']">* Author is required</span>
        </mat-error>
      </div>

      <div class="form-input mt-4">
        <label for="publication_year" class="fs-5">Publication Year:</label>
        <input type="number" class="form-control" id="publication_year" formControlName="publication_year" placeholder="Enter Publication Year">
        <mat-error class="text-danger fw-semibold" *ngIf="publicationYear?.invalid && (publicationYear?.dirty || publicationYear?.touched)">
          <span class="pt-5" *ngIf="publicationYear?.errors?.['required']">* Publication Year is required</span>
          <span class="pt-5" *ngIf="publicationYear?.errors?.['pattern']">* Enter a valid 4-digit year</span>
        </mat-error>
      </div>

      <div class="text-end mt-4">
        <button type="submit" class="btn btn-primary py-2" [disabled]="bookForm.invalid">Update</button>
      </div>

    </form>
    
  </div>  