<div class="container pt-5">

  <div class="d-flex justify-content-between align-items-center">
    <h2 class="mt-4 mb-4">Create New Book</h2>
    <button mat-raised-button routerLink="/books" class="text-bg-primary">Book List</button>
  </div>

  <form [formGroup]="bookForm" (ngSubmit)="createBook()" class="border border-2 rounded-4 p-4 card shadow-lg mt-3">

    <mat-form-field [hideRequiredMarker]="true" appearance="outline" class="mb-4">
      <mat-label>Title:</mat-label>
      <input matInput type="text" formControlName="title" placeholder="Please Enter Book Title Here..."
        autocomplete="name" autofocus autocapitalize="true">

      <mat-icon matSuffix *ngIf="title?.valid && (title?.dirty || title?.touched)"
        class="text-success">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="title?.invalid && (title?.dirty || title?.touched)"
        class="text-danger">error</mat-icon>
      <mat-error class="text-danger fw-semibold" *ngIf="title?.invalid && (title?.dirty || title?.touched)">
        <span class="pt-5" *ngIf="title?.errors?.['required']">*Title is required</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker appearance="outline" class="mb-4">

      <mat-label>Author:</mat-label>
      <input matInput type="text" formControlName="author" placeholder="Please Enter Book's Author Name Here..."
        autofocus [autocapitalize]="true">

      <mat-icon matSuffix *ngIf="author?.valid && (author?.dirty || author?.touched)"
        class="text-success">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="author?.invalid && (author?.dirty || author?.touched)"
        class="text-danger">error</mat-icon>
      <mat-error class="text-danger fw-semibold" *ngIf="author?.invalid && (author?.dirty || author?.touched)">
        <span class="pt-5" *ngIf="author?.errors?.['required']">*Author is required</span>
      </mat-error>

    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="true" appearance="outline">
      <mat-label>Publication Year:</mat-label>
      <input matInput type="text" formControlName="publication_year"
        placeholder="Please Enter Book's Publication Year Here..." autofocus>

      <mat-icon matSuffix *ngIf="publicationYear?.valid && (publicationYear?.dirty || publicationYear?.touched)"
        class="text-success">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="publicationYear?.invalid && (publicationYear?.dirty || publicationYear?.touched)"
        class="text-danger">error</mat-icon>
      <mat-error class="text-danger fw-semibold"
        *ngIf="publicationYear?.invalid && (publicationYear?.dirty || publicationYear?.touched)">
        <span class="pt-5" *ngIf="publicationYear?.errors?.['required']">*Publication Year is required</span>
        <span class="pt-5" *ngIf="publicationYear?.errors?.['pattern']">*Enter a valid 4-digit year</span>
      </mat-error>

    </mat-form-field>

    <div class="text-end">
      <button type="submit" class="btn btn-primary py-2 " [disabled]="bookForm.invalid">Create</button>
    </div>

  </form>
</div>